@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button__model1 {
  padding: 15px 70px;
  background: var(--main-color);
  border: none;
  color: var(--light-color);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}
.button__model1 {
  background: var(--main-color);
}

.button__model1:hover {
  background: var(--main-color-hover);
}

.search-bar {
  padding: 10px;
  border-radius: 10px;
}

.title {
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 80px;
  text-align: start;
}

.link {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

:root {
  /* Colors */
  /* --main-color: rgb(252, 160, 39);
  --main-color-hover: rgba(180, 127, 57, 0.884); */

  --main-color: rgb(39, 220, 252);
  --main-color-hover: rgb(0, 177, 204);
  --black-color: #181818;
  --light-color: #fff;
  --border-color: 1px solid #ebebeb;

  /* font-size */

  --title: 30px;
  --p: 13px;

  /* Margin */

  --marginLR: 70px;
  --marginB-standard: 10px;
  --marginB-big: 20px;
  --marginB-Mbig: 40px;
}

@media screen and (max-width: 992px) {
  :root {
    /* Colors */

    /* font-size */

    --title: 25px;

    /* Margin */

    --marginLR: 50px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
    margin-bottom: var(--marginB-standard);
  }

  .title {
    text-align: center;
    margin-bottom: var(--marginB-standard);
  }
  :root {
    /* Colors */

    /* font-size */

    /* Margin */

    --marginLR: 40px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    /* Colors */

    /* font-size */

    /* Margin */

    --marginLR: 20px;
  }
}

@media screen and (max-width: 350px) {
  :root {
    /* Colors */

    /* font-size */
    --title: 15px;
    /* Margin */

    --marginLR: 10px;
  }
}
